In [23]:
employees = [['John Lennon', 'a??8628282', 100],
             ['Paul McCartney', '097abc28282', 1000],
             ['Ringo Starr', '012372373', 550],
             ['George Harrison Harrison Harrison Harrison', '12276ab6e34', 10000],
             ['Pete Best', '0912772637', 1200],
             ['Stuart Sutcliffe', '0182672838', 1800],
             ['', '0978628282', 150]]

In [4]:
def fix_nothing(employees):
    pass
def fix_employees(employees, fix_names=fix_nothing, 
                  fix_phones=fix_nothing, fix_salaries=fix_nothing):
    fix_names(employees)
    fix_phones(employees)
    fix_salaries(employees)

In [5]:
def print_employees(employees):
    for employee in employees:
        print('Name: {}, Phone: {}, Salary: {}'.format(employee[0], employee[1], employee[2]))

In [6]:
def fix_empty_names(employees):
    for employee in employees:
        if employee[0] == '':
            employee[0] = 'John Doe'

In [7]:
fix_employees(employees, fix_empty_names)
print_employees(employees)

Name: John Lennon, Phone: 0978628282, Salary: 100
Name: Paul McCartney, Phone: 097abc28282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harrison Harrison Harrison, Phone: 12276ab6e34, Salary: 10000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 150

In [8]:
def fix_long_names(employees):
    for employee in employees:
        if len(employee[0]) > 20:
            employee[0] = employee[0][:20]

In [9]:
fix_employees(employees, fix_long_names)
print_employees(employees)

Name: John Lennon, Phone: 0978628282, Salary: 100
Name: Paul McCartney, Phone: 097abc28282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harr, Phone: 12276ab6e34, Salary: 10000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 150

In [11]:
def fix_phone_digits(employees):
    for employee in employees:
        phone = [d if d in '0123456789' else '0' for d in employee[1]]
        employee[1] = ''.join(phone)

In [12]:
fix_employees(employees, fix_phones=fix_phone_digits)
print_employees(employees)

Name: John Lennon, Phone: 0978628282, Salary: 100
Name: Paul McCartney, Phone: 09700028282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harr, Phone: 12276006034, Salary: 10000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 150

In [15]:
def fix_phone_digits_proper(employees):
    for employee in employees:
        phone = [d for d in employee[1]]
        last_digit = '0'
        # Fix other digits
        for i in range(0, len(phone)):
            if phone[i] not in '0123456789':
                phone[i] = last_digit
            last_digit = phone[i]
        # rejoin phone
        employee[1] = ''.join(phone)

In [16]:
fix_employees(employees, fix_phones=fix_phone_digits_proper)
print_employees(employees)

Name: John Lennon, Phone: 0008628282, Salary: 100
Name: Paul McCartney, Phone: 09777728282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harrison Harrison Harrison, Phone: 12276666634, Salary: 10000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: , Phone: 0978628282, Salary: 150

In [18]:
def fix_salary_default(employees):
    for employee in employees:
        if employee[2] < 200:
            employee[2] = 200
        if employee[2] > 2000:
            employee[2] = 2000

def fix_salary_mean(employees):
    valid_salaries = [employee[2] for employee in employees if 200 <= employee[2] <= 2000]
    mean_salary = sum(valid_salaries) / len(valid_salaries)
    for employee in employees:
        if employee[2] < 200 or employee[2] > 2000:
            employee[2] = mean_salary

In [20]:
fix_employees(employees, fix_names=fix_empty_names, fix_salaries=fix_salary_default)
print_employees(employees)

Name: John Lennon, Phone: 0008628282, Salary: 200
Name: Paul McCartney, Phone: 09777728282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harrison Harrison Harrison, Phone: 12276666634, Salary: 2000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 200

In [22]:
fix_employees(employees, fix_names=fix_empty_names, fix_salaries=fix_salary_mean)
print_employees(employees)

Name: John Lennon, Phone: a??8628282, Salary: 1137.5
Name: Paul McCartney, Phone: 097abc28282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harrison Harrison Harrison, Phone: 12276ab6e34, Salary: 1137.5
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 1137.5

In [24]:
fix_employees(employees, fix_empty_names, fix_phone_digits_proper, fix_salary_mean)
fix_employees(employees, fix_long_names)
print_employees(employees)

Name: John Lennon, Phone: 0008628282, Salary: 1137.5
Name: Paul McCartney, Phone: 09777728282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harr, Phone: 12276666634, Salary: 1137.5
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 1137.5

In [25]:
# Given a list, print sum of square of each element
a = [1, 2, 3, 4, 5]
# C1: using for loop
s =0
for x in a:
    s += x**2
print('Sum of squares: {}'.format(s))
# C2: using list comprehension
squares = [x**2 for x in a]
print('Sum of squares: {}'.format(sum(squares)))
# C3: using generator
squares = (x**2 for x in a)
print('Sum of squares: {}'.format(sum(squares)))

Sum of squares: 55
Sum of squares: 55
Sum of squares: 55

In [26]:
def square_gen(numbers):
    for n in numbers:
        yield n**2

In [28]:
# print squares
for n in square_gen(a):
    print(n, end=' ')

1 4 9 16 25