In [1]:
employees = [['John Lennon', '0978628282', 100],
             ['Paul McCartney', '097abc28282', 1000],
             ['Ringo Starr', '012372373', 550],
             ['George Harrison Harrison Harrison Harrison', '12276ab6e34', 10000],
             ['Pete Best', '0912772637', 1200],
             ['Stuart Sutcliffe', '0182672838', 1800],
             ['', '0978628282', 150]]

In [4]:
def fix_nothing(employees):
    pass
def fix_employees(employees, fix_names=fix_nothing, 
                  fix_phones=fix_nothing, fix_salaries=fix_nothing):
    fix_names(employees)
    fix_phones(employees)
    fix_salaries(employees)

In [5]:
def print_employees(employees):
    for employee in employees:
        print('Name: {}, Phone: {}, Salary: {}'.format(employee[0], employee[1], employee[2]))

In [6]:
def fix_empty_names(employees):
    for employee in employees:
        if employee[0] == '':
            employee[0] = 'John Doe'

In [7]:
fix_employees(employees, fix_empty_names)
print_employees(employees)

Name: John Lennon, Phone: 0978628282, Salary: 100
Name: Paul McCartney, Phone: 097abc28282, Salary: 1000
Name: Ringo Starr, Phone: 012372373, Salary: 550
Name: George Harrison Harrison Harrison Harrison, Phone: 12276ab6e34, Salary: 10000
Name: Pete Best, Phone: 0912772637, Salary: 1200
Name: Stuart Sutcliffe, Phone: 0182672838, Salary: 1800
Name: John Doe, Phone: 0978628282, Salary: 150

In [ ]:
def fix_long_names(employees):
    for employee in employees:
        if len(employee[0]) > 20:
            employee[0] = employee[0][:20]